/* Code is written by Sanand N R*/
body::-webkit-scrollbar {
  overflow: hidden;
  display: none;
}

body {
    margin: 0px;
}

#container {
    height: 75vh;
    width: 75vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(whitesmoke, black);
}

#text {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 12px;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#clock {
    height: 50vh;
    width: 40vw;
    min-height: 300px;
    min-width: 450px;
    border: 4px solid black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
}

#timer {
    height: 40%;
    width: 60%;
    background-color: white;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#time {
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#buttons {
    height: 20%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-top: -70px;
}

#start_btn {
    border: 1px solid whitesmoke;
    width: 80px;
    border-radius: 25px;
    color: green;
}

#start_btn:hover {
    background-color: blue;
    color: white;
}

#pause_btn {
    border: 1px solid whitesmoke;
    width: 80px;
    border-radius: 15px;
    color: red;
}

#pause_btn:hover {
    background-color: blue;
    color: white;
}

#reset_btn {
    border: 1px solid whitesmoke;
    width: 80px;
    border-radius: 15px;
    color: orange;
}

#reset_btn:hover {
    background-color: blue;
    color: white;
}

.button_text {
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 500px){
    #clock {
    height: 40vh;
    width: 90vw;
    min-width: 0px;
    }   
    #time {
        font-size: 1.5rem;
    }
    #text {
        font-size: 1.8rem;
        letter-spacing: 5px;
    }
    .button_text {
        font-size: 0.8rem;
        width: 60px;
    }
}